@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pet Travel Database</h1>
  The confident booking process/tracking system for you and your pets to travel by air
</div>
