@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the PET Travel Reservation System </h1>
    The confident reservation system for you and your pets to travel by air</h1>
</div>
