@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This policy states that any person wanting to travel with their pet may use this webpage for bookings and for tracking loved ones</p>
